<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phoenix Poker</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <body>
    <div class="container" role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= if current_user(@conn) do %>
        <%= render @view_module, @view_template, assigns %>
      <% else %>
        <a class="btn btn-primary btn-lg" href="/auth/github">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>
    
        <a class="btn btn-primary btn-lg" href="/auth/google">
          <i class="fa fa-google"></i>
          Sign in with Google
        </a>
    
        <a class="btn btn-primary btn-lg" href="/auth/twitter">
          <i class="fa fa-twitter"></i>
          Sign in with Twitter
        </a>
      <% end %>

    </div> <!-- /container -->
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
