  <div class="col-lg-6">
    <span class="btn <%= @classname %>"><%= @attendee_result.player.nickname %></span>
  </div>
  <div class="col-lg-2">
    <%= @attendee_result.chips %>
  </div>
  <div class="col-lg-2">
    <%= @attendee_result.exact_cents %>
  </div>
  <div class="col-lg-2">
    <%= @attendee_result.rounded_cents %>
  </div>
