  <div class="col-lg-6">
    <span class="btn <%= @classname %>"><%= @attendee_result.player.nickname %></span>
  </div>
  <div class="fixed col-lg-2">
    <%= @attendee_result.chips / 100 %>
  </div>
  <div class="fixed col-lg-2">
    <%= dollars_n_cents(@attendee_result.exact_cents) %>
  </div>
  <div class="fixed col-lg-2">
    <%= dollars_n_cents(@attendee_result.rounded_cents) %>
  </div>
