Roll Call - Who is Here?
<%= form_for @conn, game_night_path(@conn, :cash_out, @game_night.id), [as: :cash_out], fn f -> %>

  <%= for player <- @players do %>
    <label class="btn btn-primary player-selection">
      <%= checkbox f, :"#{player.id}" %>
      <%= player.nickname %>
    </label>
  <% end %>

  <p />
  
  <div class="form-group">
    <%= submit "Cash Out", class: "btn btn-primary" %>
  </div>
<% end %>
